
@{
    ViewData["Title"] = "Variables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Variables</h1>

<h5>ViewBag values:</h5>
<p>MyNum: @ViewBag.MyNum</p>
<p>MyDoubleNum: @ViewBag.MyDoubleNum</p>

<h5>ViewData values:</h5>
<p>MyLetter: @ViewData["MyLetter"]</p>

<h5>TempData values:</h5>
<p>MyText: @TempData["MyText"]</p>
<p>MyBool: @TempData["MyBool"]</p>


